body{
    background-color: black;
}

#tetrisBoard{
    background-color: aliceblue;
    
margin: auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    border-color: beige;
    border-style: solid;
    border-width: 1px;

    height: 718px;
    width: 300px;
}

#nextShape{
    background-color: aliceblue;
    
margin: auto;
margin-bottom: 120px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    border-color: beige;
    border-style: solid;
    border-width: 1px;

    height: 90px;
    width: 120px;
}


.cube,.cube2{
    background-color: rgb(182, 182, 182);
    
    border-color: rgb(0, 0, 0);
    border-style:solid;
    border-width: 1px;

    height: 28px;
    width: 28px;
}

#nextShapeText{
    font-family: 'Courier New', Courier, monospace;
  
}